!!!

- time = Time.new
- year = time.year

%html
  %head
    %title Title

    %script{:type => 'text/javascript', :src  => '/js/jquery.min.js'}
    %script{:type => 'text/javascript', :src  => '/js/jquery-ui.min.js'}

    %link(rel="stylesheet" href="/style.css")

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-22486606-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  %body
    #header
      %table(width='100%' border='0')
        %tr(valign='middle')
          %td
            %h1 Phodash
          %td(align='right')
            -# %img{:src=> '/images/logo.png'}

    %hr
    #content
      =yield
    %hr

    #footer
      %table(width='100%' border='0' cellspacing='0')
        %tr
          -# - time = Time.now.strftime("%Y-%m-%d %H:%M")
          -# %td(align='left') Report generated in #{elapsed} seconds.
          %td(align='right')
            &copy; #{year}
            %a(href='mailto:oddbjorn@tricknology.org')
