- FlickRaw.api_key="b172842dbd43230e877cdd6a715a3135"
- FlickRaw.shared_secret="8a380b2f28e30fe2"
- start = Time.now()

- list = flickr.interestingness.getList(:extras => 'url_sq')
- list.each do |l|
  %a(href='#{l.url_sq}')
    %img(src='#{l.url_sq}')

%p This application is an exploration of the Flickr API. Images shown selected from the
%a(href='http://www.flickr.com/explore/interesting/')
  Flickr Interesting
section. All images copyright of their respective copyright owners.
- finish = Time.now()
- elapsed = finish - start
%p Report generated in #{elapsed} seconds.
